.default-btn{
	color: $clr_white;
	padding: 11px 22px;
	background: $clr_blue;
	&.green-btn{
		background: $clr_green;
		&:hover{
		background: darken( $clr_green, 10% );
		color: $clr_white;
	}
	}
	&:hover{
		text-decoration: none;
		color: $clr_white;
		background: darken( $clr_blue, 10% );
	}
}
.default-link{
	font-size: 14px;
	font-weight: 700;
	color: $clr_green;
	&:hover{
		text-decoration: none;
		color: lighten( $clr_green, 10% );
	}
}