.main-footer{
	background: $clr_main;
	position: relative;
	padding: 90px 0 0;
	text-align: center;
	.footer-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translate(-50%, 0);
	}
	.top-footer{
		padding-bottom: 60px;
		.h2{
			font-weight: 700;
			font-size: 26px;
			margin-bottom: 35px;
			color: $clr_white;
		}
		.policy{
			margin-bottom: 30px;
			display: inline-block;
			font-size: 16px;
			&:hover{
				color: lighten( $clr_blue, 10% );
				text-decoration: none;
			}
		}
		p{
			margin-bottom: 20px;
			font-size: 16px;
		}
		.first-address{
			color: $clr_light_blue;
		}
		.second-address{
			color: $clr_green;
		}
	}
	.bottom-footer{
		background: $clr_blue;
		padding: 20px 0;
		color: $clr_light_blue;
		text-transform: uppercase;
		.copy{
			font-size: 16px;
		}
	}
}
.contact-form{
	max-width: 350px;
	margin: 0 auto;
	.form-control{
		text-transform: uppercase;
		background: $clr_white;
		text-align: center;
		border: none;
		font-size: 14px;
		font-weight: 700;
		color: $clr_blue;
		padding: 12px 10px;
		margin-bottom: 20px;
		border-radius:0;
	}
	.submit-btn{
		border: none;
		width: 100%;
		text-transform: uppercase;
		margin-bottom: 20px;
		background: $clr_green;
		&:hover{
			background: darken( $clr_green, 10% );
		}
	}
}