.container{
	max-width: 1145px;
	padding: 0 15px;
	margin: 0 auto;
}
.clearfix{
	position: relative;
	&:before{
		content: '';
		clear: both;
		display: block;
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}
.h1{
	font: 900 40px/50px  'Montserrat', sans-serif;
}

.hidden-desc{
	@media (min-width: 991px){
		display: none;
	}
}
.hidden-mob{
	@media (max-width: 990px){
		display: none;
	}
}
a:focus{
	text-decoration: none;
	color: $clr_white;
}
.text-container{
	max-width: 815px;
	margin: 0 auto;
	padding: 0 15px;
}


.top-baner{
	background: $clr_light;
	padding: 130px 0 90px;
	text-align: center;
	.h1{
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	strong{
		color: $clr_blue;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 30px;
		display: block;
	}
	.text-box{
		padding: 0 20px;
		margin-bottom: 50px;
	}
	a{
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 40px;
	}
}

.partners{
	padding: 90px 0 100px;
	position: relative;
	background: $clr_blue;
	text-align: center;
	.green-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translate(-50%, 0);
	}
	.h2{
		font-weight: 700;
		font-size: 26px;
		margin-bottom: 35px;
		color: $clr_white;
		@media (max-width: 580px){
			font-size: 18px;
		}
	}
	.text-box{
		padding: 0 20px;
		margin-bottom: 40px;
		p{
			color: $clr_green;
		}
	}
}
.partners-list{
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	font-size: 0;
	&--item{
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
		width: 33.333%;
		@media (max-width: 580px){
			width: 100%;
			+li{
				margin-top: 25px;
			}
		}
	}
}
.standarts{
	padding: 90px 0 100px;
	position: relative;
	background: $clr_main;
	text-align: center;
	color: $clr_white;
	.green-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translate(-50%, 0);
	}
	.heading{
		margin-bottom: 60px;
		.h2{
			font-weight: 700;
			font-size: 26px;
			margin-bottom: 20px;
			color: $clr_white;
			@media (max-width: 580px){
				font-size: 18px;
			}
		}
		strong{
			color: $clr_light_blue;
			font-size: 16px;
			letter-spacing: 3px;
			font-weight: 400;
		}
	}
}
.standarts-list{
	list-style: none;
	padding: 0;
	margin: 0;
	&--item{
		display: block;
		margin-bottom: 37px;
		.img{
			max-width: 70px;
			margin: 0 auto 20px;
		}
		.h3{
			color: $clr_light_blue;
			font-size: 16px;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
		p{
			color: $clr-white;
			letter-spacing: 2px;
			line-height: 32px;
			text-align: justify;
		}
	}
}
.blog-holder{
	padding: 125px 0 100px;
	background: $clr_light;
	.h1{
		font-weight: 900;
		font-size: 40px;
		color: $clr_main;
		margin-bottom: 10px;
		text-align: center;
	}
	.blog-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		margin: 0 auto 55px;
	}
}
.blog-list{
	list-style: none;
	&--item{
		background: $clr_white;
		padding: 30px;
		box-shadow: 1px 2px 16px 0px rgba(0, 0, 0, 0.1);
		font-size: 16px;
		color: $clr_main; 
		margin-bottom: 45px;
		.time{
			font-size: 14px;
			font-weight: 700;
			color: $clr_gray;
			display: inline-block;
			margin-bottom: 22px;
		}
		.h2{
			font-size: 26px;
			font-weight: 700;
			color: $clr_main;
			@media (max-width: 580px){
				font-size: 18px;
			}
		}
		p{
			margin-bottom: 20px;
		}
	}
}



.blog-detail{
	background: $clr_light;
	padding: 90px 0 80px;	
}
.single-blog{
	background: $clr_white;
	padding: 35px 40px;
	font-size: 16px;
	color: $clr_main;
	box-shadow: 1px 2px 16px 0px rgba(0, 0, 0, 0.1);
	&--heading{
		margin-bottom: 25px;
		.date{
			font-size: 14px;
			font-weight: 700;
			color: $clr_gray;
			float: left;
			@media (max-width: 580px){
				float: none;
			}
		}
		.posted-by{
			font-size: 14px;
			font-weight: 700;
			color: $clr_gray;
			float: right;
			text-transform: uppercase;
			@media (max-width: 580px){
				float: none;
			}
			span{
				color: $clr_light_blue;
				display: inline-block;
				margin-left: 5px;
			}
		}
	}
	&--img{
		height: 365px;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 35px;
		@media (max-width: 580px){
			height: 250px;
		}
	}
	.h2{
		font-size: 26px;
		font-weight: 700;
		color: $clr_main;
		margin-bottom: 20px;
		@media (max-width: 768px){
			font-size: 18px;
		}
	}
	&--text{
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 45px;
		p{
			margin-bottom: 30px;
		}
	}
	.submit-form{
		max-width: 390px;
	}
	.submit-box{
		padding-bottom: 35px;
		border-bottom: 1px solid #e1e1e1;
		margin-bottom: 20px;
	}
}

.submit-form{
	font-size: 16px;
	color: $clr_main;
	.h3{
		font-size: 26px;
		font-weight: 700;
		color: $clr_light_blue;
		margin-bottom: 10px;
		@media (max-width: 580px){
			font-size: 18px;
		}
	}
	p{
		margin-bottom: 20px;
	}
	.form-control{
		background: $clr_white;
		box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1); 
		font-size: 14px;
		padding: 10px 20px;
		margin-bottom: 20px;
		border: 1px solid #e1e1e1;
		border-radius: 0;
	}
	textarea{
		resize: none;
		height: 120px;
	}
	.default-btn{
		border: none;
		width: 100%;
		background: $clr_green;
		font-weight: 700;
		font: 14px;
		&:hover{
			background: darken( $clr_green, 10% );
		}
	}
}

.share{
	span{
		font-size: 14px;
		font-weight: 700;
		color: $clr_gray;
		float: left;
		margin: 19px 20px 0 0;
		text-transform: uppercase;
		@media (max-width: 580px){
			float: none;
			display: block;
			text-align: center;
		}
	}
}

.share-list{
	list-style: none;
	padding: 10px 10px;
	font-size: 16px;
	&--item{
		display: inline-block;
		@media (max-width: 580px){
			width: 50%;
			display: block;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 10px;
		}
		a{
			display: block;
			padding: 9px 17px;
			color: $clr_white;
			&:hover{
				text-decoration: none;
			}
			i{
				margin-right: 10px;
				color: $clr_white;
			}
		}
		&.tw{
			background: #1fa1f2;
			&:hover{
				background: darken( #1fa1f2, 10% );
			}
		}
		&.in{
			background: #0278b5;
			&:hover{
				background: darken( #0278b5, 10% );
			}
		}
		&.email{
			background: #0278b5;
			&:hover{
				background: darken( #0278b5, 10% );
			}
		}
	}
}


.directors{
	padding: 125px 0 100px;
	background: $clr_light;
	.h1{
		font-weight: 900;
		font-size: 40px;
		color: $clr_main;
		margin-bottom: 10px;
		text-align: center;
	}
	.blog-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		margin: 0 auto 55px;
	}
}

.director-list{
	list-style: none;
	margin: 0 -15px;
	font-size: 0;
	&--item{
		padding: 0 15px 30px;
		width: 25%;
		display: inline-block;
		vertical-align: top;
		@media (max-width: 1024px){
			width: 33.333%;
		}
		@media (max-width: 991px){
			width: 50%;
		}
		@media (max-width: 768px){
			width: 100%;
		}
		&.mod-big{
			width: 50%;
			@media (max-width: 768px){
				width: 100%;
			}
			.director-photo{
				height: 405px;
				@media (max-width: 768px){
					height: 227px;
					height: 350px;
				}
			}
			.info{
				padding: 50px 30px 30px;
			}
		}
		a{
			display: block;
			box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1); 
			background: #fff;
			.director-photo{
				height: 227px;
				display: block;
				background-size: cover;
				background-repeat: no-repeat;
				width: 100%;
				background-position: 50% 0;
				border: 1px solid $clr_white;
				@media (max-width: 768px){
					height: 350px;
				}
			}
			.info{
				padding: 27px 20px 25px;
				color: $clr_main;
				font-size: 16px;
				display: block;
				.h3{
					font-size: 20px;
					font-weight: 700;
					color: $clr_blue;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				.position{
					font-size: 14px;
					font-weight: 700;
					color: $clr_gray;
					text-transform: uppercase;
					margin-bottom: 20px;
					display: block;
				}
				.descr{
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
			}
			&:hover{
				text-decoration: none;
				box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.3); 
			}
		}
	}
}
.director-box{
	background: $clr_light;
	padding: 135px 0 100px;
	.text-container{
		max-width: 745px;
	}
}
.director{
	background: $clr_white;
	box-shadow: 1px 2px 16px 0px rgba(0, 0, 0, 0.1);
	padding: 215px 40px 35px;
	@media (max-width: 768px){
		padding-top: 45px;	
	}
	@media (max-width: 580px){
		padding: 45px 20px 35px;
	}
	.director-info{
		position: relative;
		padding-bottom: 15px;
		margin-bottom: 30px;
		border-bottom: 1px solid #e1e1e1;
		@media (max-width: 768px){
			padding-bottom: 0;
		}
		.name{
			font-weight: 700;
			font-size: 26px;
			color: $clr_main;
			margin-bottom: 10px;
		}
		.position{
			font-size: 14px;
			font-weight: 700;
			color: $clr_gray;
			text-transform: uppercase;
			display: block;
			@media (max-width: 768px){
				margin-bottom: 20px;
			}
		}
		.director-photo{
			position: absolute;
			bottom: 0;
			right: -30px;
			@media (max-width: 768px){
				position: relative;
				bottom: auto;
				right: auto;
				max-width: 200px;
			}
			img{
				display: block;
			}
		}
	}
	.director-description{
		color: $clr_main;
		font-size: 16px;
		p{
			margin-bottom: 30px;
		}
	}
}

.trust-engine{
	padding: 125px 0 100px;
	background: $clr_light;
	.h1{
		font-weight: 900;
		font-size: 40px;
		color: $clr_main;
		margin-bottom: 10px;
		text-align: center;
	}
	.engine-video{
		margin: 0 auto 20px;
		background: url('../development/images/video.gif');
		background-size: cover;
		height: 450px;
		background-position: left;
		width: 100%;
		background-repeat: no-repeat;
		@media (max-width: 767px){
			max-width: 400px;
			margin: 0 auto;
		}
		video{
			width: 100%;
		}
	}
	.trust-description{
		max-width: 530px;
		font-weight: 600;
		margin: 0 auto;
		text-align: center;
	}
}


.secure-payments{
	padding: 80px 100px;
	background: $clr_main;
	position: relative;
	@media (max-width: 1240px){
		padding: 80px 50px;
	}
	@media (max-width: 767px){
		padding: 80px 15px;
	}
	.secure-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translate(-50%, 0);
	}
	.h2{
		font-size: 26px;
		font-weight: 700;
		color: $clr_white;
		text-align: center;
		margin-bottom: 70px;
		letter-spacing: 4px;
		@media (max-width: 580px){
			font-size: 18px;
		}
	}
}

.payments-list{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	flex-wrap: wrap;
	&--item{
		font-size: 16px;
		font-weight: 400;
		color: $clr_white;
		@media (max-width: 767px){
			flex: 0 0 50%;
			width: 50%;
			margin-bottom: 20px;
		}
		@media (max-width: 580px){
			flex: 0 0 100%;
			width: 100%;
		}
		.img{
			max-width: 70px;
			margin: 0 auto 20px;
		}
		.h3{
			text-align: center;
			text-transform: uppercase;
			strong{
				display: block;
				font-weight: 400;
			}
		}
	}
}

.payments-list{
	list-style: none;
	display: flex;
	justify-content: space-between;
	letter-spacing: 1px;
	&--item{
		font-size: 16px;
		font-weight: 400;
		color: $clr_white;
		.img{
			max-width: 70px;
			margin: 0 auto 20px;
		}
		.h3{
			text-align: center;
			text-transform: uppercase;
			strong{
				display: block;
				font-weight: 400;
			}
		}
	}
}

.features{
	padding: 80px 100px;
	background: $clr_blue;
	position: relative;
	@media (max-width: 1240px){
		padding: 80px 50px;
	}
	@media (max-width: 767px){
		padding: 40px;
	}
	.secure-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translate(-50%, 0);
	}
	.h2{
		font-size: 26px;
		font-weight: 700;
		color: $clr_white;
		text-align: center;
		margin-bottom: 70px;
		text-transform: uppercase;
		letter-spacing: 4px;
		@media (max-width: 580px){
			font-size: 18px;
		}
	}
}


.secure-list{
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0 -60px;
	letter-spacing: 1px;
	@media (max-width: 1240px){
		margin: 0 -30px;
	}
	@media (max-width: 991px){
		flex-wrap: wrap;
	}
	&--item{
		font-size: 16px;
		font-weight: 400;
		color: $clr_white;
		padding: 0 60px;
		@media (max-width: 1240px){
			padding: 0 30px;
		}
		@media (max-width: 991px){
			width: 50%;
			flex: 0 0 50%;
			margin-bottom: 20px;
		}
		@media (max-width: 767px){
			width: 100%;
			flex: 0 0 100%;
		}
		.img{
			max-width: 70px;
			margin: 0 auto 20px;
		}
		.detail{
			color: $clr_white;
			text-align: justify;
			@media (max-width: 767px){
				max-width: 360px;
				margin: 0 auto;
			}
			.h3{
				color: $clr_green;
				text-align: center;
				text-transform: uppercase;
				strong{
					display: block;
					font-weight: 400;
				}
			}
			p{
				color: $clr_white;
			}
		}
		
	}
}

.lidership{
	background: $clr_light;
	padding: 75px 0;
	overflow: hidden;
	.heading{
		text-align: center;
		max-width: 700px;
		margin: 0 auto 55px;
		h2{
			font-weight: 700;
			font-size: 26px;
			margin-bottom: 20px;
			color: $clr_main;
		}
		strong{
			color: #374366;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 30px;
			display: block;
			@media (max-width: 580px){
				font-size: 15px;
			}
		}
	}
}

.lidership-list{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -20px;
	&--item{
		display: inline-block;
		width: 33%;
		vertical-align: top;
		margin-bottom: 50px;
		padding: 0px 20px;
		@media (max-width: 991px){
			width: 50%;
		}
		@media (max-width: 767px){
			width: 100%;
		}
		.img{
			height: 144px;
			max-width: 144px;
			margin: 0 auto 30px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 0;
		}
		.top-info{
			margin-bottom: 15px;
		}
		.lidership-list-descr{
			text-align: center;
			@media (max-width: 767px){
				max-width: 500px;
				margin: 0 auto;
			}
			h3{
				font-weight: 700;
				font-size: 16px;
				color: $clr_main;
				margin-bottom: 5px;
			}
			.position{
				font-size: 16px;
				display: block;
				margin: 0 0 15px 0;
			}
			.lidership-list-info{
				text-align: justify;
				p{
					color: $clr_light_blue;
					font-weight: 300;
					line-height: 30px;
				}	
			}
		}
	}
}