.container{
	max-width: 1145px;
	padding: 0 15px;
	margin: 0 auto;
}
.clearfix{
	position: relative;
	&:before{
		content: '';
		clear: both;
		display: block;
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}
.h1{
	font: 900 40px/50px  'Montserrat', sans-serif;
}

.hidden-desc{
	@media (min-width: 991px){
		display: none;
	}
}
.hidden-mob{
	@media (max-width: 990px){
		display: none;
	}
}
a:focus{
	text-decoration: none;
	color: $clr_white;
}
.text-container{
	max-width: 815px;
	margin: 0 auto;
	padding: 0 15px;
}


.top-baner{
	background: $clr_light;
	padding: 130px 0 90px;
	text-align: center;
	.h1{
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	strong{
		color: $clr_blue;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 30px;
		display: block;
	}
	.text-box{
		padding: 0 20px;
		margin-bottom: 50px;
	}
	a{
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 40px;
	}
}

.partners{
	padding: 90px 0 80px;
	position: relative;
	background: $clr_blue;
	text-align: center;
	.green-logo{
		height: 70px;
		width: 70px;
		background-size: cover;
		position: absolute;
		left: 50%;
		top: -35px;
		transform: translate(-50%, 0);
	}
	.h2{
		font-weight: 700;
		font-size: 26px;
		margin-bottom: 35px;
		color: $clr_white;
	}
	.text-box{
		padding: 0 20px;
		p{
			color: $clr_green;
		}
	}
}