#header{
	background: $clr_white;
	padding: 30px 0;
	box-shadow: 0 0 16px rgba(18,18,18,0.1);
	.left-box{
		float: left;
		a{
			@media (max-width: 990px){
				display: none;
			}
		}

		.green-btn{
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 40px;
		}
	}
	.right-box{
		float: right;
		margin-top: 8px;
		@media (max-width: 990px){
			display: none;
		}
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.header-box{
	display: flex;
	.left-box{
		justify-content: flex-start;
		width: 20%;
	}
	.main-nav{
		width: 60%;
		display: flex;
		.menu-header-left{
			width: 33.333%;
			justify-content: flex-start;
			@media (max-width: 990px){
				width: 100%;
			}
		}
		.header-logo-block{
			justify-content: center;
			width: 33.333%;
			display: flex;
			margin-top: -38px;
			@media (max-width: 990px){
				display: none;
			}
		}
		.menu-header-right{
			width: 33.333%;
			justify-content: flex-end;
			@media (max-width: 990px){
				width: 100%;
			}
		}
	}
	.right-box{
		width: 20%;
		justify-content: flex-end;
		display: flex;
	}
}

.main-nav .left-box{
	@media (max-width: 990px){
		float: none!important;
		position: absolute;
		width: 100%;
		bottom: 0;
		a{
			display: block!important;
			background: $clr_blue;
		}
	}
}

.contact-nav{
	ul{
		li{
			display: inline-block;
			position: relative;
			&:first-child{
				margin: 0 !important;
			}
			a{
				padding: 6px 15px;
			}
			&.phone{
				a{
					color: $clr_light_blue;
				}
			}
			+li{
				border-left: 1px solid #d5d5d5;
			}
		}
	}
}


.main-nav{
	text-align: center;
	display: flex;
	padding-top: 8px;
	@media (max-width: 990px){
		max-width: 100%;
		width: 100%!important;
		display: block!important;
		position: fixed;
		text-align: center;
		top: -100%;
		left: 0;
		right: 0;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		background: $clr_green;
		height: 100%;
		z-index: 10;
		padding-top: 100px;
		display: block;
		.menu-header-left,.menu-header-right{
			display: block;
			width: 100%;
			li{
				display: block;
				margin-bottom: 10px;
				&:first-child{
					margin: 0 0 10px;
				}
			}
		}
		li{
			a{
				color: $clr_white;
			}
		}
	}
	ul{
		li{
			display: inline-block;
			&:first-child{
				margin-right: 40px;
				@media (max-width: 1110px){
					margin-right: 20px;
				}
				@media (max-width: 1015px){
					margin-right: 15px;
				}
			}
			a{
				font: 700 16px/20px 'Montserrat', sans-serif;
				&:hover{
					color: darken( $clr_main, 10% );
					text-decoration: none;
				}
			}
		}
	}
}
.header-logo-block{
	@media (max-width: 990px){
		left: 0;
		transform: translate(0, 0);
		height: 170px;
		width: 170px;
		position: absolute;
		top: -30px;
	}
	@media (max-width: 768px){
		max-width: 100px;
	}
	.logo{
		display: block;
		position: absolute;
	}
}

body{
	&.menu-opened{
		overflow: hidden;
	}
}
/* open-menu */
.open-menu{
	display: none;
	@media (max-width: 990px){
		position: absolute;
		display: block;
		top:-6px;
		right: 15px;
		font-size: 0;
		line-height: 0;
		width: 25px;
		height: 20px;
		z-index: 41;
		span{
			position: absolute;
			height: 2px;
			left: 0;
			right: 0;
			background-color: $clr_green;
			top:50%;
			transform: translateY(-50%);
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: $clr_green;
			-webkit-transform-origin:50%;
			-moz-transform-origin:50%;
			-ms-transform-origin:50%;
			-o-transform-origin:50%;
			transform-origin:50%;
			bottom: 0;
			transition: all .3s;
		}
		&:before{
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: $clr_green;
			-webkit-transform-origin:50%;
			-moz-transform-origin:50%;
			-ms-transform-origin:50%;
			-o-transform-origin:50%;
			transform-origin:50%;
			top: 0;
			transition: all .3s;
		}
	}
}
.menu-opened {
	.main-nav{
		top: 0;
		left: 0;
	}
	.open-menu{
		&:before{
			background-color: #fff;
			top:50%;
			bottom:auto;
			margin-top: -1px;
			-webkit-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}
		&:after{
			background-color: #fff;
			top:50%;
			bottom:auto;
			-webkit-transform: rotate(-135deg);
			-ms-transform: rotate(-135deg);
			-o-transform: rotate(-135deg);
			transform: rotate(-135deg);
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}
	}
}
.menu-opened .open-menu span{display: none;}
.fader{
	display: block;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	cursor: pointer;
}